.cards {

  margin: 0 auto;
  width: 100%;

  .color_ring {

    display: flex;
    justify-content: center;
    align-items: center;
  }


  .cards_block {
    padding-bottom: 50px;
    background: whitesmoke!important;

    .load_more_button {
      background: black;
    }

    div {
      padding-top: 20px;
      margin-bottom: 20px;
      span {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-family: 'Roboto';
      }
    }
  }
  .card_block {
    justify-content: space-between!important;
    display: grid!important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))!important;
    gap: 10px!important;
  }
  .error {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    svg {
      color: red;
      width: 30px;
    }

    h2 {
      font-size: 1.5rem;
      font-family: 'Roboto';
    }

  }
  .load_more_button {
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      background: rgb(56, 97, 251)!important;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
      padding: 10px 25px;
      color: white;
      transition: all .1s ease;
      border: none;


      &:hover {
        cursor: pointer;
        background: rgb(56, 134, 251)!important;

      }
    }

}